@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    .my-skills
        .icons
            grid-template-columns: 1fr 1fr 1fr

// ≥992px
+media-breakpoint-down(md)
    .cv
        .container
            grid-template-areas: "resume" "skills"
            grid-template-columns: 1fr
            grid-template-rows: 1fr
            .resume
                img
                    justify-self: center

// ≥768px
+media-breakpoint-down(sm)
    .nav
        display: none
    .mobile-menu
        display: block
    header
        .container
            .mobile-menu
                justify-self: end
    
    .my-skills
        .icons
            grid-template-columns: 1fr 1fr

// ≥576px
+media-breakpoint-down(xs)
    .my-skills
        .icons
            grid-template-columns: 1fr

    .cv
        .container
            padding: 20px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
