@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    .my-skills
        .icons
            grid-template-columns: 1fr 1fr 1fr

    .why-me
        .grid
            .item
                grid-template-rows: 150px auto

// ≥992px
+media-breakpoint-down(md)
    .cv
        .container
            grid-template-areas: "resume" "skills"
            grid-template-columns: 1fr
            grid-template-rows: 1fr
            .resume
                img
                    justify-self: center

    .why-me
        .grid
            .item
                grid-template-rows: 100px auto
            img
                height: 100px
            p
                font-size: 14px

// ≥768px
+media-breakpoint-down(sm)
    .nav
        display: none
    .mobile-menu
        display: block
        .menu-btn
            width: 40px
            height: 40px
            display: block
    header
        .container
            .mobile-menu
                justify-self: end
    
    .my-skills
        .icons
            grid-template-columns: 1fr 1fr

    .why-me
        .grid
            grid-template-columns: 1fr
            padding: 20px
            .item
                grid-template-rows: 200px auto
                img
                    height: 200px
                p
                    font-size: 16px
                    margin-top: 40px
                    margin-bottom: 40px

// ≥576px
+media-breakpoint-down(xs)
    .my-skills
        .icons
            grid-template-columns: 1fr

    .cv
        .container
            padding: 20px

    .why-me
        .container
            padding: 0 20px
        h1
            font-size: 22px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
