@import "vars"
@import "fonts"
@import "libs"

.grid
    display: grid

header
    height: 100vh
    .container
        grid-template-areas: "logo nav" "img img"
        grid-template-columns: 1fr 5fr
        grid-template-rows: auto calc(100vh - 100px)
        align-items: center
        padding: 20px

.logo
    grid-area: logo
    font-size: 36px
    color: #838383
    font-family: rubik-mono-one
    text-decoration: none
    &:hover
        text-decoration: none
        color: #838383

.nav
    grid-area: nav
    justify-self: end
    a
        margin-left: 20px
        font-family: roboto-condensed
        color: #838383
        font-size: 16px
        text-transform: uppercase
        &:hover
            text-decoration: none

.img
    grid-area: img
    justify-self: center
    width: 100%
    height: auto
    max-width: 750px
    align-self: center

.mobile-menu
	display: none
	width: 40px
	height: 40px
	background: #fff
	border-radius: 50px
	position: relative
	span, span:before, span:after
		display: block
		width: 20px
		height: 2px
		background: #222
		position: absolute
		top: 50%
		left: 50%
		margin-left: -10px
		margin-top: -1px
		transition: all 0.4s linear
	span:before, span:after
		content: ''
	span:before
		transform: translateY(-5px)
	span:after
		transform: translateY(5px)
.menu-btn_active span:before
    transform: rotate(-35deg)
    width: 10px
    transform-origin: left bottom
.menu-btn_active span:after
    transform: rotate(35deg)
    width: 10px
    transform-origin: left top

@import "media" // Always at the end
